
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
h1{
  color: white;
  background-color: black;
  margin-top: 0%;

  
}

 /* Estilamos el video de fondo */
 #video-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1; /* Para que el video esté detrás de los demás elementos */
}

/* Estilamos el header para que se muestre encima del video */
.header {
  position: relative;
  z-index: 1; /* Para que el header esté encima del video */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Agregamos un fondo transparente para que se vea el video */
  color: #fff;
}